body{
  background-image: url("../public//image/fullbg.svg");
  background-position:center;
  background-size: contain;
  object-fit: contain;
}

.gradientStatic{
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%) !important ;
}
.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  transition: 0.8s;
}

.gradient:hover{
  background: #fff;
  color: black;
  font-style:oblique;
  text-decoration:underline;
}
  .gradientImage {
    background-image: url("../public/image/bg.svg");
    background-size:100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }